* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: url('images/wynton-marsalis.jpg') no-repeat;
}

@media (min-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(6, 14vw);
        grid-auto-rows: minmax(14vw, min-content);
    }
}